
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600|Baloo+Chettan");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import "~vue-snotify/styles/material";

body {
    background: #4a5a65;
}
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.icon {
    width: 24px;
    &-sm {
        width: 15px;
    }
    &-lg {
        width: 28px;
    }
    &-xl {
        width: 50px;
    }
}
.logo {
    font-family: 'Baloo Chettan', cursive;
    & a {
        text-decoration: none;
        color: white;
        font-size: 2em;
    }
}
.navbar {
    background: #212121;
    box-shadow: 0 0 5px black;
}
.navbar--item {
    display: flex;
}
.content {
    padding: 18px;
}
.box {
    background: #f7f7f7;
    padding: 14px;
    border-bottom: 2px solid #212121;
    margin-bottom: 12px;
    &--flex {
        display: flex;
    }
    &--height {
        min-height: 500px;
    }
    .image-goal {
        width: 100px;
        height: 100px;
        overflow: hidden;
    }
    .detail-goal {
        margin:10px;
        width: 100%;
        position: relative;
        .more {
            cursor: pointer;
        }
        .title {
            font-size: 20px;
        }
        .text {
            color: gray;
        }
        .options {
            background: white;
            width: 180px;
            box-shadow: 3px 2px 4px #00000063;
            position: absolute;
            top: 23px;
            right: 0;
            z-index: 1;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }
            li {
                padding: 8px;
                border-bottom: 1px solid #f5f3f3;
                &:hover {
                    background: #eae9e9;
                }
                &:active {
                    background: #758088;
                    color: white;
                }
            }
        }
    }
}
